<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACpw4P9eM_rk-IvFplF_Glgjo_pcVdgwI</string>
	<key>GCM_SENDER_ID</key>
	<string>344916077169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyChat</string>
	<key>PROJECT_ID</key>
	<string>happy-chat-29788</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-chat-29788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344916077169:ios:35f92475fa3ba8cf2409d0</string>
</dict>
</plist>